<div class="grid">
  <div class="col-6 col-offset-3">
    <p-tabView>
      <p-tabPanel header="PESQUISAR">
        <div>
          <input type="text" pInputText
          placeholder="Digite a cidade"
          [(ngModel)]="cidade" />
          <br><br>
          <h1>Previsões para {{cidade}}</h1>
          <br>
          <p-table>
            <ng-template pTemplate="header">
              <tr>
                <th>Data / Hora</th>
                <th>T°C Mín.</th>
                <th>T°C Máx.</th>
                <th>Clima</th>
              </tr>
              <tr *ngFor="let p of previsoes">
                <td align="center">{{p.dt_txt}}</td>
                <td align="center">{{p.main.temp_min}}</td>
                <td align="center">{{p.main.temp_max}}</td>
                <td align="center"><img src="http://openweathermap.org/img/wn/02d.png"></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <br>
        <div>
          <button pButton type="button"
          label="Pesquisar"
          (click)="pesquisar()">
          </button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="HISTÓRICO">
        <div>
          <h1>Histórico</h1>
          <br>
          <p-table>
            <ng-template pTemplate="header">
              <tr>
                <th>Data / Hora</th>
                <th>Cidade</th>
                <th>Clima</th>
              </tr>
              <tr *ngFor="let p of previsoes">
                <td align="center">{{p.items.items.data_previsao}}</td>
                <td align="center">{{p.items.cidade}}</td>
                <td align="center">{{p.items.link_previsao}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <br>
        <button pButton type="button"
        label="Atualizar"
        (click)="consultarHistorico()">
        </button>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!-- <div *ngFor="let p of previsoes">
  <br>
  {{p.weather.id}}
</div> -->


