<div class="grid">
  <div class="col-6 col-offset-3">
    <p-tabView>
      <p-tabPanel header="PESQUISAR">
        <div>
          <input type="text" pInputText
          placeholder="Digite a cidade"
          [(ngModel)]="cidade" />
          <div *ngFor="let p of previsoes">
            <br>
            {{p.main.temp_min}} °C    {{p.main.temp_max}} °C
            <br>
          </div>
        </div>
        <br>
        <div>
          <button pButton type="button"
          label="Pesquisar"
          (click)="pesquisar()">
          </button>
        </div>
      </p-tabPanel>
      <p-tabPanel header="HISTÓRICO">
        <button pButton type="button"
        label="Atualizar"
        (click)="pesquisar()">
        </button>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<div *ngFor="let p of previsoes">
  <br>
  {{p.main.temp_min}}{{p.main.temp_max}}
  <br>
</div>
